{% extends 'webapp/lol.html' %}

{% block lol %}

<div class="new4KMovies">
      <div class="sectionTitle">
        <h2></h2>
      </div>
      <ul>
        <li class="m1"><a href="http://192.168.0.110/"><iframe src="http://192.168.0.110/" style="height:400px;width:600px;"></iframe></a></li>
        <li class="m1"><a href="http://192.168.0.110/"><iframe src="http://192.168.0.110/" style="height:400px;width:600px;"></iframe></a></li>
      </ul>
      <ul>
        <li class="m1"><a href="http://192.168.0.110/"><img src="Img/mo5.jpg" alt="movie poster"></a></li>
        <li class="m1"><a href="#"><img src="Img/mo6.jpg" alt="movie poster"></a></li>
      </ul>
    </div>

<!--
				{% for roomD in room_info %}
                
                {% if roomD.id is 1 %}
				<!--a href=""><h4> {{ roomD.room_name }}  </h4><br></a>
                <iframe src="http://192.168.0.110/" style="height:400px;width:600px;"></iframe>
				{% else %}
				<h4> {{ roomD.room_name }}  </h4><br>
                
				{% endif %} 

				{% endfor %}-->



{% endblock %}