<!doctype html>
{% load static %}
<html>
    <head><title>HOME PAGE</title>
        <link rel="stylesheet" href="{% static 'css/lol.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
    
    {% block lol %}
    <!--div class="new4KMovies">
      <div class="sectionTitle">
        <h2>POPULAR MOVIES & ANIME</h2>
      </div>
      <ul>
        <li class="m1"><a href="#"><img src="Img/mo1.jpg" alt="movie poster"></a></li>
        <li class="m1"><a href="#"><img src="Img/mo2.jpg" alt="movie poster"></a></li>
      </ul>
      <ul>
        <li class="m1"><a href="Movies/yn.html"><img src="Img/mo5.jpg" alt="movie poster"></a></li>
        <li class="m1"><a href="#"><img src="Img/mo6.jpg" alt="movie poster"></a></li>
      </ul>
    </div-->
    {% endblock %}
  </header>
  
</body>
</html>
